.myProfile-page-content {
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  margin: 10vh 10vw;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#myProfile-info {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

#myProfile-info .user-info span {
  display: block;
}

#myProfile-info .user-info .user-info__nickname {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#myProfile-info .user-info .user-info__primary-info {
  text-align: center;
  font-size: 18px;
  color: rgb(97, 97, 97);
}

#myProfile-info .hr {
  border-bottom: 1px solid rgba(143, 143, 143, 0.3);
  width: 70%;
  margin-top: 10px;
}

#myProfile-info .description {
  margin-top: 5px;
  text-align: center;
  max-width: 70%;
}

#myProfile-info .buttons {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myProfile-info .buttons button {
  width: 100px;
  white-space: normal;
  word-wrap: break-word;
  min-height: 80px;
  background: linear-gradient(
    148deg,
    rgba(42, 146, 255, 1) 0%,
    rgba(0, 215, 255, 1) 100%
  );
  color: white;
  border: none;
  cursor: pointer;
}

#myProfile-achievements {
  grid-area: 1 / 2 / 2 / 3;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}