.achievements-title {
	display: flex;
	justify-content: center;
}

.user-achievements {
display: grid;
grid-template-columns: repeat(4, 23%);
grid-template-rows: repeat(4, 200px);
grid-column-gap: 2rem;
grid-row-gap: 2rem;
margin: 0 2rem;
justify-content: center;
}

.sudoku-novice-achievement { 
	grid-area: 1 / 1 / 2 / 2;
	border: 3px solid black; 
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sudoku-proficient-achievement { 
	grid-area: 1 / 2 / 2 / 3; 
	border: 3px solid black; 
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sudoku-master-achievement { 
	grid-area: 1 / 3 / 2 / 4;
	border: 3px solid black; 
	border-radius: 20px; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.sudoku-king-achievement { 
	grid-area: 1 / 4 / 2 / 5;
	border: 3px solid black; 
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.crossword-novice-achievement { 
	grid-area: 2 / 1 / 3 / 2;
	border: 3px solid black; 
	border-radius: 20px; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.crossword-proficient-achievement { 
	grid-area: 2 / 2 / 3 / 3;
	border: 3px solid black; 
	border-radius: 20px; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.crossword-master-achievement { 
	grid-area: 2 / 3 / 3 / 4;
	border: 3px solid black; 
	border-radius: 20px; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.crossword-king-achievement { 
	grid-area: 2 / 4 / 3 / 5;
	border: 3px solid black; 
	border-radius: 20px; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.puzzle-novice-achievement { 
	grid-area: 3 / 1 / 4 / 2; 
	border: 3px solid black; 
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.puzzle-proficient-achievement { 
	grid-area: 3 / 2 / 4 / 3; 
	border: 3px solid black; 
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.puzzle-master-achievement { 
	grid-area: 3 / 3 / 4 / 4; 
	border: 3px solid black; 
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.puzzle-king-achievement { 
	grid-area: 3 / 4 / 4 / 5;
	border: 3px solid black; 
	border-radius: 20px; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.quiz-novice-achievement { 
	grid-area: 4 / 1 / 5 / 2;
	border: 3px solid black; 
	border-radius: 20px; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.quiz-proficient-achievement { 
	grid-area: 4 / 2 / 5 / 3;
	border: 3px solid black; 
	border-radius: 20px; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.quiz-master-achievement { 
	grid-area: 4 / 3 / 5 / 4;
	border: 3px solid black; 
	border-radius: 20px; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.quiz-king-achievement { 
	grid-area: 4 / 4 / 5 / 5;
	border: 3px solid black; 
	border-radius: 20px; 
	display: flex;
	justify-content: center;
	align-items: center;
}
