.button-light {
  border-radius: 20px;
  border: 1px solid $button-color-light !important;
  background-color: $button-color-light !important;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  // padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;

  &:hover {
    
    border: 1px solid $button-color-dark;
    background-color: $button-color-dark;
  }

  @media screen and (min-width: 3840px) {
    border-radius: 40px;
    font-size: 40px;
    font-weight: 200;
    text-transform: none;
  }
}
