.memory-card {
  cursor: pointer;
  width: 150px;
  height: 170px;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.7s;
  border: 1px solid rgba(160, 160, 160, 0.75);

  @media only screen and (max-width: 700px) {
    width: 100px;
    height: 120px;
  }

  @media only screen and (max-width: 500px) {
    width: 80px;
    height: 100px;
  }

  &__matched {
    transform: rotateY(180deg);
  }

  & > img,
  & > svg {
    width: 70%;
    position: absolute;
    backface-visibility: hidden;
    pointer-events: none;
  }

  & > svg {
    width: 100px;
    height: 100px;
    opacity: 0.3;
  }
}
