.container {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
}

.title {
  text-align: center;
}

.achievements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;

  @media screen and (max-width: 1150px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.achievement {
  width: 300px;
  height: 200px;
  background-color: red;
}
