.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  background-color: #bbada0;
  position: relative;

  &__easy {
    width: calc(100px * 4 + 20px * 3 - 10px);
    height: calc(100px * 4 + 20px * 3 - 10px);
  }

  &__medium {
    width: calc(100px * 5 + 20px * 3);
    height: calc(100px * 5 + 20px * 3);
  }

  &__hard {
    // width: calc(100px * 6 + 25px * 3 - 5px);
    // height: calc(100px * 6 + 25px * 3 - 5px);
    width: calc(80px * 6 + 30px * 3);
    height: calc(80px * 6 + 30px * 3);
  }
}

.tile {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #bbada0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  font-size: 2.5rem;
  position: absolute;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  margin: 1rem;

  &-2 {
    background-color: #eee4da;
  }

  &-4 {
    background-color: #ede0c8;
  }

  &-8 {
    background-color: #f2b179;
  }

  &-16 {
    background-color: #f59563;
  }

  &-32 {
    background-color: #f67c5f;
  }

  &-64 {
    background-color: #f65e3b;
  }

  &-128 {
    background-color: #edcf72;
  }

  &-256 {
    background-color: #edcc61;
  }

  &-512 {
    background-color: #9c0;
  }

  &-1024 {
    background-color: #33b5e5;
  }

  &-2048 {
    background-color: #09c;
  }

  &.merged {
    .inner-tile {
      animation: mergeAnimation 0.2s;
    }
  }

  &.new {
    .inner-tile {
      animation: appear 0.2s;
    }
  }
}

.inner-tile {
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.win-message {
  font-size: 24px;
}

.loss-message {
  font-size: 2.4rem;
}

.score-board {
  font-size: 20px;
  margin: 10px;
}