.contact {
  min-height: 100vh;

  &__box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__input {
    width: 80%;
    margin: 1rem auto;
    font-size: 20px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    background-color: #eee;
  }
}