.topWall {
  border-top: 2px solid black;
}

.rightWall {
  border-right: 2px solid black;
}

.bottomWall {
  border-bottom: 2px solid black;
}

.leftWall {
  border-left: 2px solid black;
}

.sol {
  div {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    display: inline-block;
  }
}

.currentPosition.destination {
  div {
    animation: rainbowBall 5s infinite;
  }
}

#maze {
  margin-top: 15px;
  border-collapse: collapse;
  td {
    height: 20px;
    width: 20px;
  }
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cheat-mode-info {
  padding-left: 10px;
  color: red;
}

.status-message {
  color: green;
  text-align: center;
}

#maze td {
  min-width: 30px;
  min-height: 30px;
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
}
