.profile {
  min-height: 100vh;

  &__box {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__info {
    color: rgb(97, 97, 97);
  }

  &__achievement {
    filter: grayscale(100%);
    opacity: 0.5;
    
    &-gained {
      opacity: 1;
      filter: none;
    }
  }

  &__avatar {
    &-selected {
      background-color: rgba($color-purple-light, 0.3);
    }
  }
}
