.tictactoe {
  &__board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    min-width: 200px;
  }

  &__status {
    color: rgba(0, 0, 0, 0.75);
    font-size: 2.2rem;
    font-weight: 600;
  }
}
