.achievements-page-content {
    width:80vw;
	height: 80vh;
	background-color: #fff;
	margin: 10vh 10vw;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}