@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

* {
	box-sizing: border-box;
}

body {
    background-color: #fff0da;
    font-family: 'Roboto', sans-serif;
}

a, a:visited {
    text-decoration: none;
    color: black;
}