@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background-color: #fff0da;
}

.home-page-content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 20% repeat(2, 40%);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    width:80vw;
	height: 80vh;
	background-color: #fff;
	margin: 10vh 10vw;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    font-family: 'Montserrat', sans-serif;
}

.home-page-logo { 
    grid-area: 1 / 1 / 2 / 2; 
    margin: 1.5rem 0 0 1.5rem;
}

.home-page-options { 
    grid-area: 1 / 2 / 2 / 3; 
    margin: 4rem 4rem 0 0;
    text-align: right;  
}

#home-link {
    margin-right: 1rem;
}

#dashboard-link {
    margin-right: 1rem;
}

#login-link {
    margin-right: 1rem
}

#aboutUs-link {
    margin-right: 1rem
}

.home-page-info { 
    grid-area: 2 / 1 / 3 / 2; 
    margin: 2rem 0 0 1.5rem;
    text-align: justify;
}

#getStarted-button {
    margin-top: 1rem;
    border-radius: 20px;
	border: 1px solid #9dddf4;
	background-color: #9dddf4;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.home-page-brain {
    grid-area: 2 / 2 / 3 / 3; 
    text-align: center;
}

.home-page-funfact-1 { 
    grid-area: 3 / 1 / 4 / 2; 
    display: flex;
    flex-direction: row;
    margin: 0 0 5rem 0;
    text-align: justify;
}

.fun-fact-1 {
    margin-top: 3rem;
}

.home-page-funfact-2 { 
    grid-area: 3 / 2 / 4 / 3; 
    display: flex;
    flex-direction: row;
    margin: 0 0 5rem 0;
}

.fun-fact-2 {
    margin: 3rem 3rem 0 0;
}