.privacyPolicy-page-content {
    width:80vw;
	height: 80vh;
	background-color: #fff;
	margin: 10vh 10vw;
    padding: 3vh 3vw;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    overflow: scroll;  
	overflow-x: hidden; 
}

#center-text {
	text-align: center;
	margin-bottom: 3rem;
}

.back-to-login-button {
    display: flex;
    justify-content: center;
}