@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gridCenter {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
}

@mixin keys($color, $bgColor) {
  height: 50px;
  border-radius: 10px;
  background-color: $bgColor;
  color: $color;
  font-size: 1.5rem;
  cursor: pointer;
  display: grid;
  align-items: center;
  font-weight: bold;
}

.game-container {
  width: 100%;
  @include center();
}

.game-internal-container {
  margin-top: 1.5rem;
  width: 75%;
  display: grid;
}

.puzzle-actions {
  @include gridCenter();

  button {
    background-color: rgba(29, 125, 189, 0.753);
    border: 1px solid rgba(29, 125, 189, 0.753);

    &:hover,
    &:focus {
      background-color: rgba(29, 125, 189, 0.753);
      border: 1px solid rgba(29, 125, 189, 0.753);
    }
  }
}

.puzzle-board-container {
  @include center();
}

.puzzle-board {
  @include center();
  margin-top: 1.5rem;
  height: 500px;
  width: 500px;
}

.puzzle-game-info {
  @include gridCenter();
  grid-gap: 2rem;
  margin-top: 2.5rem;
}

.back-link {
  font-size: 20px;
  text-decoration: none !important;
  color: #000 !important;

  &:visited {
    text-decoration: none;
    color: #000 !important;
  }
}
