
.badge {
  background-color: rgba(51, 13, 43, 0.75) !important;
  border-radius: 0.7rem !important;
  padding: 0.5rem !important;
  font-size: $default-font-size !important;
}

.popver {
  z-index: 9999 !important;
}
