.dashboard-page-conent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-games {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  .dashboard-game {
    margin-top: 1rem;
    width: 75%;
    display: grid;

    @media screen and (max-width: 992px) {
      img {
        margin-bottom: 0.5rem;
      }
    }

    @media screen and (max-width: 500px) {
      img {
        width: 90%;
      }
      width: 90%;
    }
  }
}

.dashboard-score-games {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .score-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    @media screen and (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 900px) {
      justify-items: center !important;
      grid-template-columns: repeat(1, 1fr);

      img {
        width: 90%;
      }
    }
  }
}

.dashboard-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: rgba(29, 125, 189, 0.753);
  color: white;
}

.sudoku-logo-wrapper {
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  .sudoku-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.crossword-logo-wrapper {
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  .crossword-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.memory-logo-wrapper {
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  .memory-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.s2048-logo-wrapper {
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  .s2048-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.minesweeper-logo-wrapper {
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  .minesweeper-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.snake-logo-wrapper {
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  .snake-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.maze-logo-wrapper {
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  .maze-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.ballInTheHole-logo-wrapper {
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  .ballInTheHole-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.quiz-logo-wrapper {
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  .quiz-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.ticTacToe-logo-wrapper {
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  .ticTacToe-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}
