#game-level-text {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: space-evenly;
    margin: 2rem 5rem 0 5rem;
    font-size: 30px;
    font-weight: bold;
}

.easy-text { 
    grid-area: 1 / 2 / 2 / 3; 
    text-align: center;
}

.medium-text { 
    grid-area: 1 / 3 / 2 / 4; 
    text-align: center;
}

.hard-text { 
    grid-area: 1 / 4 / 2 / 5; 
    text-align: center;
}

#dashboard-level-games {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(4, 300px);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: space-evenly;
    margin: 2rem 5rem 0 5rem;
}

.logo-sudoku{ 
    grid-area: 1 / 1 / 2 / 2; 
}

.easy-sudoku { 
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.medium-sudoku { 
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.hard-sudoku { 
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.logo-crossword { 
    grid-area: 2 / 1 / 3 / 2;
}

.easy-crossword { 
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.medium-crossword { 
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.hard-crossword { 
    grid-area: 2 / 4 / 3 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.logo-puzzle { 
    grid-area: 3 / 1 / 4 / 2; 
}

.easy-puzzle { 
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.medium-puzzle { 
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.hard-puzzle { 
    grid-area: 3 / 4 / 4 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.logo-quiz { 
    grid-area: 4 / 1 / 5 / 2; 
}

.easy-quiz { 
    grid-area: 4 / 2 / 5 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.medium-quiz { 
    grid-area: 4 / 3 / 5 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.hard-quiz { 
    grid-area: 4 / 4 / 5 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.score-games-title {
    text-align: center;
    border-bottom: solid;
    font-size: 30px;
    margin: 4rem 0 5rem 0;
}

#score-games-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 5rem 0 5rem;
}

#dashboard-footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: rgba(29, 125, 189, 0.753);
    color: white;
}